{% load static from staticfiles %}

<link rel="stylesheet" type="text/css" href="../../static/word_trees/style.css"/>
<script src="../../static/word_trees/processing-1.4.1.min.js"></script>



{% if words %}
	<ul>
		{% for w in words %}
			<li><a href="/word_trees/{{ w.id }}">{{ w.user_input }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No data available.</p>
{% endif %}
    <div id="msg">
    </div>
    <script type="application/javascript">
        var jsString = "Hello from JavaScript!";
        var jsString = "{{ this_word.user_input }}";
        var printMessage = function (msg) {
            document.getElementById('msg').innerHTML = "Message: " + msg;
        };
    </script>

<script type="text/processing" data-processing-target="processing-canvas">
String processingString = "Hello from processing";

oid setup() {
  printMessage(jsString + " " + processingString);
  text( "words", 50, 50)
  size(200, 200);
  background(100);
  stroke(255);
  ellipse(50, 50, 25, 25);
  println('hello web!');
  text(jsString, 100, 100);
  		{% for w in words %}
			text("{{ w.user_input }}", random(200), random(200));
		{% endfor %}

}
</script>
<canvas id="processing-canvas"> </canvas>
