{% load static from staticfiles %}

<link rel="stylesheet" type="text/css" href="../../static/word_trees/style.css"/>
<script src="../../static/word_trees/processing-1.4.1.min.js"></script>



{% if words %}
	<ul>
		{% for w in words %}
			<li><a href="/word_trees/{{ w.id }}">{{ w.user_input }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No data available.</p>
{% endif %}
    <div id="msg">
    </div>
    <script type="application/javascript">
        var json = '[{"result":true,"count":1}]',
    	obj2 = JSON.parse(json);
        //var json2 = '{{ data }}';
        //obj = JSON.parse(json2);
        // obj = '{{ data }}'
        var myJSONtext = "{{ data }}"
        //var myObject = JSON.parse(myJSONtext);
        //var myObject = eval('(' + myJSONtext + ')');
        var jsString = "Hello from JavaScript!";
        var jsString = "{{ this_word.user_input }}";
        var printMessage = function (msg) {
            document.getElementById('msg').innerHTML = "Message: " + msg;
        };
    </script>

<script type="text/processing" data-processing-target="processing-canvas">
// find reference at http://processingjs.org/articles/jsQuickStart.html
String processingString = "Hello from processing";

void setup() {
  size(500, 500);
  background(100);
  stroke(255);
  

<!--   		{% for w in words %}
			text("{{ w.user_input }}", random(200), random(200));
		{% endfor %} -->

}


void draw() {
	background(100)
	text(+"{{ randoms.1 }}"+10, 50, 50);
	
translate(width/2, height/2)


{% for each in tree%}
current_word = "{{ each.0.user_input }}";
numSiblings = +"{{ each.0.word_set.all | length }}"
rand_in = +"{{ each.1 }}"
rotate((PI/4)/(numSiblings));
drawWord(current_word, rand_in);


{% endfor each %}	
}

void drawWord(word_in, rand_in){
	text(word_in, 0, 0);
    translate(textWidth(current_word), 0);

}




</script>
<canvas id="processing-canvas"> </canvas>
